@import url('https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800|Lora:400,400i,700,700i');

body {
    margin: 0 auto;
    padding: 10%;
    background-color: #ffffff;
    text-align: left;
    font-family: 'Assistant', sans-serif;
    color: #333333;
}

.main {
    width: 100%;
}

.intro {
    font-size: 1.5em;
    font-weight: 300;
    color: #8E8E8E;
}

.name {
    font-size: 3em;
    font-family: 'Lora', serif;
    font-style: italic;
    letter-spacing: -3px;
}

.headline {
    font-size: 2em;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.icon {
    width: 35px;
    padding-right: 50px;
    transition: 0.2s ease-out;
}

.icon:hover {
    width: 40px;
    transition: 0.2s ease-in;
}

.section {
    margin-top: 5em;
    width: 100%;
}

.section-title {
    font-size: 1.3em;
    font-weight: 400;
}

.section-body {
    font-weight: 300;
    color: #8E8E8E;
}

.designs {
    width: 100%;
    margin-top: 3em;
}

.design-title {
    font-size: 1em;
    font-family: 'Lora', serif;
    font-style: italic;
}

.design-img {
    width: 100%;
    margin-bottom: 4em;
}

.me-photo {
    width: 100%;
    margin-bottom: 1em;
}

.footer {
    bottom: 0;
    font-size: 0.8em;
    font-style: italic;
}

blockquote {
    border-left: 3px solid #333333;
    padding-left: 1em;
    transition: 0.2s ease-out;
}

blockquote:hover {
    margin-left: 4em;
    transition: 0.2s ease-in;
}

.company-title {
    font-weight: 600;
    color: #333333;
}

.position {
    font-family: 'Lora', serif;
    color: #333333;
    font-style: italic;
    font-size: 0.9em;
}

.date {
    font-size: 0.9em;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #000000;
}

a:active {
    color: #000000;
}

@media only screen and (min-width: 601px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 800px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .section {
        margin-top: 7em;
        width: 50%;
    }

    .designs {
        width: 60%;
        margin-top: 3em;
    }

    .name {
        font-size: 5em;
        font-family: 'Lora', serif;
        font-style: italic;
        letter-spacing: -5px;
    }
  }